:root {
  --orange-color: #ff6e30;
  --white-color: #ffffff;
  --med-white-color: rgba(255, 255, 255, 0.78);
  --light-white-color: rgba(255, 255, 255, 0.9);
  --white8-color: rgba(255, 255, 255, 0.8);
  --grey-color: rgba(255, 255, 255, 0.55);
  --search-color: rgba(255, 255, 255, 0.38);
  --light-oran-color: rgba(255, 165, 55, 0.55);
  --bg-black-color: #1e252b;
  --poppins-font: "Poppins", sans-serif;
  --roboto-font: "Roboto", sans-serif;
}

.container {
  background-color: var(--bg-black-color);
}

.site-width {
  width: 1440px;
  margin: 0 auto;
}

.header-cont {
  background-color: var(--bg-black-color);
  padding-top: 26px;

  margin-left: 120px;
  margin-right: 105px;
}

.header-box {
  display: flex;
  max-width: 1215px;
  height: 48px;

  outline: 3px solid violet;

  align-items: center;
}

.logo {
  color: var(--light-white-color);
  font-family: var(--poppins-font);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  margin-right: 257px;

  display: flex;
  text-align: center;
}

.logo-img {
  width: 19px;
  height: 21px;

  margin-right: 22px;
  margin-top: 5px;
}

.option-list {
  list-style: none;
  display: flex;
  gap: 25px;

  margin-right: auto;
  margin-top: 12px;
}

.option {
  color: var(--grey-color);
  font-family: var(--poppins-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;

  display: flex;
}

.special {
  width: 110px;
}

.chevron {
  width: 18px;
  height: 18px;

  margin-top: 5px;
}

.registration {
  list-style: none;
  display: flex;
  gap: 41px;

  padding: 0;
}

.reg-type {
  text-decoration: none;
  color: var(--med-white-color);
  font-family: var(--poppins-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin: 12px;
}

.sign-up-button {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

.sign-up {
  background-color: var(--orange-color);

  width: 118px;
  height: 48px;

  color: var(--white-color);
  font-family: var(--poppins-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border-radius: 10px;

  margin-top: 0;
  padding-top: 0;
}

.first-section {
  width: 1329px;
  height: 568px;

  outline: 3px solid violet;

  margin-left: 118px;
}

